/* @import url(//db.onlinewebfonts.com/c/769f77adc143f65cc1db42ae784ab1af?family=PartyTimeLTW01-Drunk); */

@font-face {font-family: "Sad_jane";
  src: url("sad_jane-webfont.woff2") format("woff2"), /* chrome、firefox */
  url("sad_jane-webfont.woff") format("woff"), /* chrome、firefox */
  url("sad_jane.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

/* .drunk{
  font-family: "Sad_jane";
}

.sober{
  font-family: Arial, Helvetica, sans-serif;
} */

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}


div.Heading{
  background-color: lightpink;
  color: black;
  text-align: center;
}

